/*
Styles for editing tools
*/

#editpane {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 350px;
    height: 550px;
    padding: 5px;
    margin: 5px;
    background: #FFFFFF;
    overflow: hidden;
    z-index: 1002;
    border: 1px solid #CCCCCC;
}

#editclose {
    float: right;
    background-image: url(http://maps.google.com/intl/en_us/mapfiles/iw_close.gif);
    width: 12px;
    height: 12px;
    font-size: 10px;
    cursor: pointer;
}
#editresize {
    position: absolute; 
    right: 5px; 
    bottom: 2px;
    width: 12px;
    height: 12px;
    font-size: 10px;
    background: #CCCCCC;
    cursor: pointer;
}

#editpane .edittitle {
    background: #EEEEEE;
    padding: 3px;
    cursor: move;
    margin-bottom: 5px;
}
#editpane .edittitle h3 {
    margin: 0px;
    font-weight: normal;
    font-size: 1.2em;
    cursor: pointer;
}
#dspane {
    height: 90%;
    overflow: auto;
}

#editpane .dataset {
    margin: 5px 5px 10px 5px;
}
#editpane .dataset .dstitle {
    font-weight: bold;
    border-bottom: 1px solid #CCCCCC;
    cursor: pointer;
}
#editpane .dataset .dsadditem {
    color: #0000CC;
    cursor: pointer;
    float: right;
    font-size: 0.8em;
    line-height: 1.2em;
}

#editpane .dataset .item {
    margin-top: .5em;
    padding-bottom: 1em;
    font-size: 0.8em;
}
#editpane .dataset .item .itemicon {
    float: right;
    cursor: pointer;
}
#editpane .dataset .item .itemtitle {
    font-weight: bold;
    cursor: pointer;
}
#editpane .dataset .item .itemdate {
    color: #0000CC;
    cursor: pointer;
}
#editpane .dataset .item .itemlabel {
    color: #999999;
    width: 45px;
    float: left;
}
#editpane .dataset .item .itemdesc {
    cursor: pointer;
}
#editpane .dataset .item .itempmtools {
    height: 31px;
}
#editpane .dataset .item  .missingelement {
    color: #CCCCCC;
    font-style: italic;
    font-size: 0.8em;
    line-height: 1.6em;
}


.pmbutton {
  width:31px;
  height:31px;
  float: left;
  margin-right: 5px;
  cursor: pointer;
}
#markerbutton {
  background-image: url(http://google.com/mapfiles/ms/t/Bmu.png);
}
#markerbutton.selected {
  background-image: url(http://google.com/mapfiles/ms/t/Bmd.png);
}
 
#polylinebutton {
  background-image: url(http://google.com/mapfiles/ms/t/Blu.png);
}
#polylinebutton.selected {
  background-image: url(http://google.com/mapfiles/ms/t/Bld.png);
}
 
#polygonbutton {
  background-image: url(http://google.com/mapfiles/ms/t/Bpu.png);
}
#polygonbutton.selected {
  background-image: url(http://google.com/mapfiles/ms/t/Bpd.png);
}