/*
Styles for editing tools, largely taken from 
http://gmaps-samples.googlecode.com/svn/trunk/poly/mymapstoolbar.html
*/

#editpane {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 500px;
    overflow: auto;
    padding: 5px;
    margin: 5px;
    background: #FFFFFF;
    z-index: 1002;
    border: 1px solid #CCCCCC;
}

#editclose {
    float: right;
    background-image: url(http://maps.google.com/intl/en_us/mapfiles/iw_close.gif);
    width: 12px;
    height: 12px;
    cursor: pointer;
}
#editresize {
    position: absolute; 
    right: 2px; 
    bottom: 2px;
    width: 12px;
    height: 12px;
    background: #CCCCCC;
    cursor: pointer;
}

#editpane .edittitle {
    background: #EEEEEE;
    padding: 3px;
    cursor: move;
    margin-bottom: 5px;
}
#editpane .edittitle h3 {
    margin: 0px;
    font-weight: normal;
    font-size: 1.2em;
}
#editpane .dataset {
    margin: 5px 5px 10px 5px;
}
#editpane .dataset .dstitle {
    font-weight: bold;
    border-bottom: 1px solid #CCCCCC;
}
#editpane .dataset .item {
    margin-top: .5em;
    font-size: 0.8em;
}
#editpane .dataset .item .itemicon {
    float: right;
    cursor: pointer;
}
#editpane .dataset .item .itemtitle {
    font-weight: bold;
}
#editpane .dataset .item .itemdate {
    color: #0000CC;
}
#editpane .dataset .item .itemlabel {
    color: #999999;
    width: 45px;
    float: left;
}

#hand_b {
  width:31px;
  height:31px;
  background-image: url(http://google.com/mapfiles/ms/t/Bsu.png);
}
#hand_b.selected {
  background-image: url(http://google.com/mapfiles/ms/t/Bsd.png);
}
 
#placemark_b {
  width:31px;
  height:31px;
  background-image: url(http://google.com/mapfiles/ms/t/Bmu.png);
}
#placemark_b.selected {
  background-image: url(http://google.com/mapfiles/ms/t/Bmd.png);
}
 
#line_b {
  width:31px;
  height:31px;
  background-image: url(http://google.com/mapfiles/ms/t/Blu.png);
}
#line_b.selected {
  background-image: url(http://google.com/mapfiles/ms/t/Bld.png);
}
 
#shape_b {
  width:31px;
  height:31px;
  background-image: url(http://google.com/mapfiles/ms/t/Bpu.png);
}
#shape_b.selected {
  background-image: url(http://google.com/mapfiles/ms/t/Bpd.png);
}